<div class="contenido ">
<div class="img1"></div>
<div class="img2"></div>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in cont1" id="inicio">
<h1>Nuevo Equipo</h1>

<%= render 'form' %>

<%=  link_to "Atras", controller: "roadtosports", action: "registros" %>
<%= link_to 'Ir A Deportes', sports_path %>
</div></div></div>