<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @nombrepartidoc.nombre %>
</p>

<%= link_to 'Edit', edit_nombrepartidoc_path(@nombrepartidoc) %> |
<%= link_to 'Back', nombrepartidocs_path %>
