<div class="contenido ">
<div class="img1"></div>
<div class="img2"></div>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#inicio" data-toggle="tab">Registrate a los torneos!</a></li>
  <li class=""><a href="#ins" data-toggle="tab">Pre-inscripción</a></li>
  <li class=""><a href="#equipo" data-toggle="tab">Equipo</a></li>
  <li class=""><a href="#reglas" data-toggle="tab">Reglas</a></li>
  <li class=""><a href="#par" data-toggle="tab">Partidos</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in cont1" id="inicio">
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui
    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui</p>
  </div>
  <div class="tab-pane fade cont1" id="ins">
   <%= render 'pre_registrations/new' %>
  </div>
  <div class="tab-pane fade cont1" id="equipo">
    
  </div>
  <div class="tab-pane fade cont1" id="reglas">
     
  </div>
  <div class="tab-pane fade cont1" id="par">
     
  </div>
</div>
</div>

