<div class="contenido ">
<div class="img1"></div>
<div class="img2"></div>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in cont1" id="inicio">
    <h3>Usuarios(as)</h3>
    <p>Adquieren la condición de usuarios(as) de las instalaciones deportivas del sena todos los aprendicez, a título individual o formando parte de una organización, siendo Instrutores y contratistas podran acceder a las mismas previo y bajo el cumplimiento de los requisitos establecidos en el presente Reglamento ditado por el Sena del complejo Sur para cada una de sus modalidades.</p>
    <h3>Derechos de los usuarios</h3>
        <P>Los usuarios/as, en cuanto al uso y disfrute de las instalaciones deportivas, gozarán de los siguientes derechos:</P>
        <P>1. Recibir información sobre las instalaciones, horarios, actividades deportivas...</P><br><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#derechos">Leer más</button>
    <h3>Deberes de los usuarios</h3>
        <P>Todos los usuarios(as) de las instalaciones deportivas deberán atenerse a las siguientes obligaciones</P>
        <P>1. Cumplir con las condiciones de acceso derivadas de la normativa aplicable y de las disposiciones establecidas...</P><br><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#deberes">Leer más</button>
    

    <!-- Modal1 -->
    <div class="modal fade" id="derechos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Derechos de los usuarios</h4>
          </div>
          <div class="modal-body">
            <P>Los usuarios/as, en cuanto al uso y disfrute de las instalaciones deportivas, gozarán de los siguientes derechos:</P>
            <P>1. Recibir información sobre las instalaciones, horarios, actividades deportivas y forma de acceso a las mismas.</P>
            <P>2. Disfrutar las instalaciones con los medios técnicos adecuados, de conformidad a las prescripciones técnicas establecidas y a la normativa aplicable.</P>
            <P>3. Encontrar las instalaciones con un buen grado de higiene, limpieza y seguridad, que asegure el correcto desarrollo de la actividad deportiva reservada.</P>
            <P>4. Recibir atención y trato correcto por parte del personal que preste servicio en las instalaciones.</P>
            <P>5. Hacer uso de las instalaciones deportivas que se reservaron, o de las actividades en que fueron inscritos, en los horarios y períodos reservados siempre y cuando no se estén desarrollando actividades programadas que lo impidan, no se celebren acontecimientos deportivos autorizados por las actividades prestadas por el Sena.</P>
            <P>6. Participar en la gestión, mediante la consulta sobre el grado de satisfacción en el servicio recibido.</P>
            <P>7. Formular reclamaciones y sugerencias</P>
            <P>8. Utilizar en caso de accidente físico, Servicio Médico de la Poliza de Seguros del sena.</P>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal2 -->
    <div class="modal fade" id="deberes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Deberes de los usuarios</h4>
          </div>
          <div class="modal-body">
            <P>Todos los usuarios(as) de las instalaciones deportivas deberán atenerse a las siguientes obligaciones</P>
            <P>1. Cumplir con las condiciones de acceso derivadas de la normativa aplicable y de las disposiciones establecidas en el presente Reglamento.</P>
            <P>2. Conservar la autorización, que les acredite para la utilización de las instalaciones, estando obligados a presentarlo en todo momento al personal responsable de la instalación cuando así lo requiera.</P>
            <P>3. Guardar el debido respeto a los demás usuarios y al personal de las instalaciones, así como atender en todo momento las indicaciones de este personal.</P>
            <P>4. Cumplir la legislación y reglamentación vigente en materia de tabaquismo, bebidas alcohólicas y sustancias estupefacientes.</P>
            <P>5. Cumplir la normativa específica expuesta en cada instalación, atendiendo a las indicaciones del personal de servicio y colaborando en el buen desarrollo de las actividades deportivas.</P>
            <P>6. Respetar el material deportivo, instalaciones y demás dependencias del Sena, colaborando en mantenerlas limpias y en buen estado.</P>
            <P>7. Cumplir con el horario de entrega de las instalaciones, entregandolas limpias y ordenadas al personal autorizado.</P>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>