<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @nombrepartidod.nombre %>
</p>

<%= link_to 'Edit', edit_nombrepartidod_path(@nombrepartidod) %> |
<%= link_to 'Back', nombrepartidods_path %>
