
<div class="contenidog ">
	<div class="img1"></div>
	<div class="img2"></div>
		<ul class="nav nav-tabs" style="margin-bottom: 15px;">

		</ul>
	<div id="myTabContent" class="tab-content">
  		<div class="" id="inicio">
  			<h1>Sport SENA</h1>
    		<p class="lead">Sport SENA es un software basado en los procesos deportivos que se pueden llevar a cabo dentro de cualquier institución educativa y en donde le aporta un control de los procesos y una independencia, para que los usuarios se inscriban de manera autónoma a los diferentes eventos deportivos, torneos y demás actividades para el desarrollo integral de los estudiantes.</p>


<div class="info">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

	    <ol class="carousel-indicators">
	        <li class="active" data-slide-to="1" data-target="#carousel-example-generic"></li>
	        <li class="" data-slide-to="0" data-target="#carousel-example-generic"></li>
	        <li class="" data-slide-to="2" data-target="#carousel-example-generic"></li>
	        <li class="" data-slide-to="3" data-target="#carousel-example-generic"></li>
	        <li class="" data-slide-to="4" data-target="#carousel-example-generic"></li>
	        <li class="" data-slide-to="5" data-target="#carousel-example-generic"></li>
	        <li class="" data-slide-to="7" data-target="#carousel-example-generic"></li>
	    </ol>
	    <div class="carousel-inner">
	        <div class="item active">
	            <img alt="Second slide" src="assets/fondito.png"  class="img-thumbnail"></img>
	            <div class="carousel-caption">
				    <h3>1. Regístrate</h3>
				    <p>Registrate para tener tu propia cuenta de usuario en la página.</p>
				</div>
	        </div>
	        <div class="item">
	            <img alt="Firts slide" src="assets/fondito.png"  class="img-thumbnail"></img>
	             <div class="carousel-caption">
	             	
				    <h3>2. Ingresa</h3>
				    <p>Ingresa con tu email y tu contraseña personal en la opcion Ingresar para disfrutar de todo lo que te ofrecemos.</p>
				    
				</div>
	        </div>
	        <div class="item">
	            <img alt="Tercero slide" src="assets/fondito.png"  class="img-thumbnail"></img>
	             <div class="carousel-caption">
	             	
				    <h3>3. Registro en deportes</h3>
				    <p>Registrate en uno de los deportes en la opcion Registrate, y añade a todo tu equipo.</p>
				    
				</div>
	        </div>
	        <div class="item">
	            <img alt="Tercero slide" src="assets/fondito.png"  class="img-thumbnail"></img>
	             <div class="carousel-caption">
	             	
				    <h3>4. Torneos</h3>
				    <p>Cuando tu equipo este listo y cumpla con las espectativas del administrador, él te añadira al torneo de tu deporte. Consulta los torneos en la opcion Inicio - Torneos</p>
				    
				</div>
	        </div>
	        <div class="item">
	            <img alt="Tercero slide" src="assets/fondito.png"  class="img-thumbnail"></img>
	             <div class="carousel-caption">
	             	
				    <h3>5. Partidos</h3>
				    <p>Mira en la agenda en la opcion Usuarios, las fechas de los partidos o en la pagina Partidos y Encuentros para saber contra quien te tocará jugar.</p>
				    
				</div>
	        </div>
	        <div class="item">
	            <img alt="Tercero slide" src="assets/fondito.png"  class="img-thumbnail"></img>
	             <div class="carousel-caption">
	             	
				    <h3>6. Novedades y Noticias</h3>
				    <p>En las paginas Novedades y Noticias o en Actividades que se encuentran en Inicio, podras encontrar todas las actividades que se van  desarrollando en el SENA o en el centro.</p>
				    
				</div>
	        </div>
	        <div class="item">
	            <img alt="Tercero slide" src="assets/fondito.png"  class="img-thumbnail"></img>
	             <div class="carousel-caption">
	             	
				    <h3>7. Galerias</h3>
				    <p>En la pagina Galerias en la opcion Inicio, encontrarás todos los albunes y fotos de los deportes y actividades en el centro o en el SENA.</p>
				    
				</div>
	        </div>
	    </div>
	    <a class="left carousel-control navt" data-slide="prev" href="#carousel-example-generic" data-toggle="tooltip" data-placement="top" title="Anterior">◄◄</a>
	    <a class="right carousel-control navt" data-slide="next" href="#carousel-example-generic" data-toggle="tooltip" data-placement="top" title="Siguiente">►►</a>

	</div>
</div>
    	</div>
    </div>
</div>

