<div class="contenido ">
<div class="img1"></div>
<div class="img2"></div>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in cont1" id="inicio">
  	<h1>Road To Sports</h1>
    <p class="lead">Road Sport es un software basado en los procesos deportivos que se pueden llevar a cabo dentro de una institución educativa y en donde le aporta un control de los procesos y una independencia, para que los usuarios se inscriban de manera autónoma a los diferentes eventos deportivos, torneos y demás actividades para el desarrollo integral de los estudiantes.</p>
  </div>
  </div>
</div>

