<% if current_user.admin == true || current_user.id == @user.id %>
<div class="contenidog ">
<div class="img1"></div>
<div class="img2"></div>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">

</ul>
<div id="myTabContent" class="tab-content">
  <div class="" id="inicio">
<h1>Editar usuario</h1>


<%= render 'form' %>

<%= link_to 'Mostrar', @user %> 
<% if can? :read, @user %>|
<%= link_to 'Atras', users_path %>
<% end %>

</div></div></div>
<% else %>
<div class="alerta">
  <div class="alertah">
    <h2 class="panel-title">Acceso No autorizado.</h2>
  </div>
  <div class="panel-body">
    <h1> </h1>
    <p>El usuario: <b><%= current_user.nombre %></b> No esta autorizado para acceder a esta página.</p>
  </div>
</div>

<% end %>