<h1>Tipo Documentos</h1>
  <table  class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Sigla</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <% @document_types.each do |document_type| %>
        <tr>
          <td><%= document_type.name %></td>
          <td><%= document_type.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>