<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @nombrepartidot.nombre %>
</p>

<%= link_to 'Edit', edit_nombrepartidot_path(@nombrepartidot) %> |
<%= link_to 'Back', nombrepartidots_path %>
