<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @nombrepartidom.nombre %>
</p>

<%= link_to 'Edit', edit_nombrepartidom_path(@nombrepartidom) %> |
<%= link_to 'Back', nombrepartidoms_path %>
