<div class="encab">

	<p id="notice">
		<%= notice %>
	</p>
	<%= image_tag @gallery.image.url(:medium) %>
	<%
		
		po = @gallery.id
	 %>

	<%#=link_to po, album_gallery_path(@album,po-1), remote: true %>
	<%#=link_to po, album_gallery_path(@album,po+1), remote: true %>

</div>