

/* ________________________albums_____________________*/
.mov2{
	height: 210px;
  	width: 285px;
  	float: left;
  	position: relative;
  	margin: 10px -15px 6px 22px;
  	list-style: none;
	border: 1px none #ddd;
	/* padding: 11px 11px 11px; */
	padding: 11px 5px;
	border: 1px solid #999;
	box-shadow: 0px 0px 3px 2px gray;
	border-radius: 5px;
	background-color: #ffffff;
}
.title{
	text-align: center;
}
.botones{
	z-index: 999;
	position: relative;
	top: -40px;
	left: 10px;
}
.encab{
	text-align: center;
}
.desc{
	border:1px solid transparent;
	width: 250px;
	height: 60px;
	color: black;	
	word-break: break-all;
 	word-wrap: break-word;
 	overflow-y:scroll;
    overflow-x:none; 
}

/*:___________________________galerias_______________________:*/

.mov1{
	height: 120px;
  	width: 126px;
  	float: left;
  	position: relative;
  	margin: 10px -15px 6px 22px;
  	list-style: none;
	border: 1px none #ddd;
	/* padding: 11px 11px 11px; */
	padding: 11px 5px;
	border: 1px solid #999;
	box-shadow: 0px 0px 3px 2px gray;
	border-radius: 5px;
	background-color: #ffffff;
}
/*#gallery { list-style: none; display: block; }
#gallery li { float: left; margin: 0 10px 10px 0; }*/
#galeria{
	width: 900px;
	height: 420px;
	background-color: #f8f8f8;
	border: 2px #3399ff solid;
	border-radius: 5px;
	z-index: 100;
    opacity: 1;
    box-shadow:0 0px 10px #0066cc, 0 0px 5px #787878 inset;
    overflow-y:scroll;
    overflow-x:none;
}
#galeriao{
	width: 800px;
	background-color: #f8f8f8;
	border: 2px #3399ff solid;
	border-radius: 5px;
	z-index: 100;
    opacity: 0;
    box-shadow:0 0px 10px #0066cc, 0 0px 5px #787878 inset;
    overflow-y:scroll;
    overflow-x:none;
}
/*#galpi{
	margin-top: -5px;
	border: 2px #ccc solid;
	border-radius: 5px; 
	height: 305px;
	width: 830px;
	z-index: 100;
    opacity: 1;
    padding: 10px;
}*/
/*________________________calendario____________________________*/
.contc{
	/*border: 1px solid black;*/
	width: 890px;
	height: 696px;
	position: absolute;
	margin-left: 220px;
	margin-top: 10px;
}
.bot{
	margin-left: 620px;
	border: 1px solid black;
	border-color: gray;
	background-color: gold;
	border-radius: 70px;
	width: 88px;
	text-align: center;
}