<div class="encab">
	<p id="notice">
		<%= notice %>
	</p>

	<p>
		<strong>Nombre:</strong>
		<%= @activity.name %>
	</p>

	<p>
		<strong>Estado:</strong>
		<%= @activity.state %>
	</p>
	
	<div class="dc">
		<p>
			<strong>Descripción:</strong>
			<%= @activity.description %>
		</p>
	</div>
</div>