<h1>Listing novelties</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @novelties.each do |novelty|  %>
      <tr>
        <td>
          <%= novelty.name %>
        </td>
        <td>
          <%= novelty.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

