<div class="encab">
	<p id="notice">
		<%= notice %>
	</p>
	<p>
	  <strong>Nombre:</strong>
	  <%= @novelty.name %>
	</p>
	<div class="dc">
		<p>
		  <strong>Descripción:</strong>
		  <%= @novelty.description %>
		</p>
	</div>
</div>