<p id="notice">
	<%= notice %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @nombrepartidob.nombre %>
</p>

<%= link_to 'Edit', edit_nombrepartidob_path(@nombrepartidob) %> |
<%= link_to 'Back', nombrepartidobs_path %>
