<div class="contenidologin">
<div class="img1"></div>
<div class="img2"></div>

	<h1>Iniciar sesión</h1>

	<%= render 'form' %>
</div>
<div class="info">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

	    <ol class="carousel-indicators">
	        <li class="active" data-slide-to="1" data-target="#carousel-example-generic"></li>
	        <li class="" data-slide-to="0" data-target="#carousel-example-generic"></li>
	    </ol>
	    <div class="carousel-inner">
	        <div class="item active">
	            <img alt="Second slide" src="assets/fondito.png"></img>
	            <div class="carousel-caption">
				    <h3> Regístrate</h3>
				    <p>Registrate para tener tu propia cuenta de usuario en la página.</p>
				</div>
	        </div>
	        <div class="item">
	            <img alt="Firts slide" src="assets/fondito.png"></img>
	             <div class="carousel-caption">
	             	
				    <h3> Ingresa</h3>
				    <p>Ingresa con tu email y tu contraseña personal en la página para disfrutar de todo lo que te ofrecemos.</p>
				    
				</div>
	        </div>
	    </div>
	    <a class="left carousel-control" data-slide="prev" href="#carousel-example-generic">◄◄</a>
	    <a class="right carousel-control" data-slide="next" href="#carousel-example-generic">►►</a>

	</div>
</div>