<footer class="panel-footer">
  <small>
    <ul class="breadcrumb">
    	<li> By MYNOMBRE Todos los derechos reservados © 2014 ::.</li>
      	<li><%= link_to "Créditos", about_path %></li>
      	<li><a href="http://www.MIPAGINA.co/">MYCOMPAÑIA</a></li>
    </ul>
  </small>  
</footer>

