<footer class="panel-footer">
  <small>
    <ul class="breadcrumb">
        <li> By ADSI Todos los derechos reservados © 2014 ::.</li>
        <li><a href="http://senadisenoconfeccionymoda.blogspot.com/"target="_blank">Institucional</a></li>
        <li><a class="obpie" href="http://www.sena.edu.co/Paginas/Inicio.aspx"target="_blank">Sena</a></li>
        <li><a class="obpie" href="http://oferta.senasofiaplus.edu.co/sofia-oferta/"target="_blank">Sena Sofia Plus</a> </li>
        <li><a class="obpie" href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/?tab%3Dwm&scc=1&ltmpl=default&ltmplcache=2&emr=1"target="_blank">Gmail</a></li>
        <li><a class="obpie2">Road To Sports©</a></li>
    </ul>
  </small> 
</footer>